$padding : 1em 1.5em;
@mixin theme {
    -webkit-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
    box-shadow: 10px 10px 19px -4px rgba(255, 255, 255, 0.75);
}
%css {
    border: 1px solid #ccc;
    //padding: 10px; changed
    padding: $padding; //general padding added
    color: #2748B3;
    background-color: #000;
    width: 100%
}
